<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Editar Informações do Carro</h1>
        <a class="voltar"href="/carros">← Voltar</a>
        <form method="POST">
            <div class="input_group">
                <input name="nome" value="{{ carro.nome }}" placeholder="Nome do carro" required>

                {% if erro_nome %}

                <span class="erro_texto">{{ erro_nome }}</span>

                {% endif %}
            </div>

            <div class="input_group">
                <input name="preco" value="{{ carro.preco }}">

                {% if erro_preco %}

                <span class="erro_texto">{{ erro_preco }}</span>

                {% endif %}
            </div>

            <select name="ano">
                <option value="">Selecione um Ano</option>

                {% for ano in anos %}
                
                <option value="{{ ano }}" {% if carro.cor==ano %}selected{% endif %}>
                    {{ ano }}
                </option>

                {% endfor %}
            </select>

            <select name="cor">
                <option value="">Selecione uma Cor</option>

                {% for cor in cores %}

                <option value="{{ cor }}" {% if carro.cor==cor %}selected{% endif %}>
                    {{ cor }}
                </option>

                {% endfor %}

            </select>

            <select name="cambio">
                <option value="">Selecione um Câmbio</option>

                {% for cambio in cambios %}

                <option value="{{ cambio }}" {% if carro.cambio==cambio %}selected{% endif %}>
                    {{ cambio }}
                </option>

                {% endfor %}

            </select>

            <select name="marca">
                <option value="">Selecione uma Marca</option>

                {% for marca in marcas %}
                
                <option value="{{ marca }}" {% if carro.marca==marca %}selected{% endif %}>
                    {{ marca }}
                </option>

                {% endfor %}

            </select>

            <select name="combustivel">
                <option value="">Selecione um Tipo de Combustível</option>

                {% for combustivel in combustiveis %}

                <option value="{{ combustivel }}" {% if carro.combustivel==combustivel %}selected{% endif %}>
                    {{ combustivel }}
                </option>

                {% endfor %}

            </select>

            <button type="submit">Salva Alteraçõesr</button>
        </form>
    </div>
</body>

</html>