<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>FC Company</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="home_container">

    <div class="home_card">

        <h1>FC Company</h1>

        <p>
            Compre seu carro na maior empresa 
            automobilística do Brasil
        </p>

        <div class="home_buttons">

            <a href="/login">
                Entrar no Sistema
            </a>

            <a href="/cadastro">
                Criar Conta
            </a>

        </div>

    </div>

</div>

</body>
</html>